.card-component {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px; /* Space between cards */
  padding: 20px;
}

.card-component > div {
  flex: 1 1 300px; /* Allow cards to shrink and grow */
  max-width: 325px; /* Control maximum width of the cards */
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}